.toolbar {
    display: flex;
    &__spacer {
      flex: 1 1 auto;
    }
    &__menu {
      margin: 0 auto;
      list-style:none;
      ul {
        display: flex;
        list-style:none;
      }
      &__icon{
        border:0;
        background-color: transparent;
        color: white;
        vertical-align: middle;
      }
      &__text {
        color: white;
        text-decoration: none;
        vertical-align: middle;
      }
    }
  }
  .footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    .toolbar {
      &__text {
        text-align: center;
        width: 100%;
      }
    }
  }
  .board {
    display: flex;
    height: 70vh;
    overflow-x: auto;
    padding: 0 1em;
  }