<div class="flex w-full justify-content-end my-3">
  <p-button
          [label]="cancelLabel"
          (click)="emitResult(false)"
          [text]="true"
          styleClass="w-full text-primary-50 border-1 border-white-alpha-30 hover:bg-white-alpha-10"
          class="w-full"
  ></p-button>
  <p-button
          [label]="confirmLabel"
          (click)="emitResult(true)"
          [text]="true"
          styleClass="w-full text-primary-50 border-1 border-white-alpha-30 hover:bg-white-alpha-10"
          class="w-full"
  ></p-button>
</div>
