<h3>Proyectos</h3>
<p-dataView
    #dv
    [value]="projects"
    [paginator]="true"
    [rows]="9"
    filterBy="name"
    [sortField]="sortField"
    [sortOrder]="sortOrder"
    layout="grid"
    emptyMessage="No tienes proyectos asignados, ¡Crea uno nuevo!"
>
    <ng-template pTemplate="header">
        <div class="d-flex justify-content-between gap-2">
            <button
                    pButton
                    pRipple
                    label="Nuevo"
                    icon="pi pi-plus"
                    class="p-button-success mr-2"
                    (click)="openCreateModifyProjectDialog(CREATE)"
            ></button>

            <span class="p-input-icon-left w-25">
        <i class="pi pi-search"></i>
        <input
                type="search"
                class="w-100"
                pInputText
                placeholder="Buscar por nombre"
                (input)="onFilter(dv, $event)"
        />
      </span>
        </div>
    </ng-template>
    <ng-template let-projects pTemplate="gridItem">
        <div class="row">
            <div class="col-12 md:col-12" *ngFor="let project of projects">
                <div class="data-view-card" (dblclick)="openCreateModifyProjectDialog(UPDATE, project)">
                    <div
                            class="card m-3 border-1 surface-border"
                            [routerLink]="[project.id,'board']"
                    >
                        <div class="flex flex-column align-items-center text-center">
                            <div class="text-2xl font-bold">{{ project.name }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-dataView>
