
.btn-custom {
  background-color: rgb(112, 182, 32);
  color: #ffffff;
}

.btn-custom:hover {
  background-color: rgb(142, 197, 79);
  color: #ffffff;
}

.card {
  max-height: 80vh;
  overflow-y: auto;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  @media (max-width: 768px) {
    max-height: none;
  }
}

.card::-webkit-scrollbar {
  width: 8px;
}

.card::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.card::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}