<section class="vh-100">
  <div class="container py-4 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="../../../assets/img/_cf228286-9da2-4c0d-87bd-b6faa37f3657.jpg"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                  <div class="d-flex align-items-center mb-3 pb-1">
                    <img src="../../../assets/img/LOGO-UPC.png" class="custom-img" alt="">
                  </div>
                  <router-outlet></router-outlet>
                  <div class="text-center">
                    <a class="small text-muted" href="#!">¿has olvidado la contaseña?</a>
                    <p class="mb-5 pb-lg-2" style="color: #393f81;">¿No tienes una cuenta?
                      <a href="/register">¡Registrate aquí!</a> 
                    </p>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
