<div class="row mt-3 mb-1">
  <div class="col-4 col-lg-6">
    <h1><b>Usuarios</b></h1>
  </div>
  <div class="col-8 col-lg-6 text-end">
    <button pButton pRipple type="button"  icon="fa-solid fa-plus" class="p-button-raised p-button-primary p-button-text"
      label="Nuevo usuario "></button>
  </div>
</div>
<div class="card">
  <p-table [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} registros totales"
    [rowsPerPageOptions]="[5,10,25,50]">
    <ng-template pTemplate="header">
      <tr>
        <th scope="col">Nombre</th>
      </tr>
      <tr>
        <th scope="col">Usuario</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-city>
      <tr>
        <td>{{city.name}}</td>
      </tr>
      <tr>
        <td>{{city.username}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
