.page-spinner-overlay-wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1009;
  background: rgb(0 0 0 / 42%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

:host ::ng-deep .custom-spinner .p-progress-spinner-circle {
  width: 120px;
  height: 150px;
  animation: custom-progress-spinner-dash 1.5s ease-in-out infinite, custom-progress-spinner-color 6s ease-in-out infinite;
}

@keyframes custom-progress-spinner-color {
  100%,
  0% {
    stroke: #3b82f6;
  }
}

@keyframes custom-progress-spinner-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
