<div class="row">
  <div class="col-md-4">
    <a class="btn btn-custom" routerLink="../"><i class="fa fa-long-arrow-left"></i></a>
  </div>
</div>
<div class="row card-body">
  <div class="col-12 col-md-4">
    <h3>Grupos</h3>
    <p-dataView [value]="classGroups" layout="grid" emptyMessage=" ">
      <ng-template let-groups pTemplate="gridItem">
        <div class="row">
          <div *ngFor="let group of groups" class="col-6 md:col-4">
            <div class="data-view-card">
              <div class="card m-3 border-1 surface-border" routerLink='subject/edit'>
                <div class="flex flex-column align-items-center text-center">
                  <div class="text-2xl font-bold">{{group.name}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="data-view-card" (click)="showClassGroupDialog()">
            <div class="card m-3 border-1 surface-border">
              <div class="d-inline text-center">
                <em class="pi pi-plus text-success"></em>
                <div class="text-2xl font-bold">Nuevo grupo</div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </div>
</div>

