<div class="row">
  <div class="col-md-4">
    <div class="card-body">
      <a routerLink="../" class="btn btn-custom"><i class="fa fa-long-arrow-left"></i></a>
    </div>
  </div>
  <div class="col-md-4">
    <h1 class="text-center">Crear grupo</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 mb-6">
    <div class="form-outline p-3">
            <span class="p-float-label my-4">
                <input pInputText id="subject_name" class="w-100"/>
                <label for="subject_name">Nombre del grupo*</label>
            </span>
      <span class="p-float-label my-4">
                <textarea id="float-input" rows="5" cols="30" class="w-100 rounded" pInputTextarea></textarea>
                <label for="float-input">Descripción</label>
            </span>
    </div>
  </div>
  <div class="col-md-6 mb-6">
    <div class="form-outline p-3">
      <div class="my-4">
        <p-panel header="Agregar docente*" [collapsed]="true" [toggleable]="true">
                    <span>
                        <p-dropdown [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" [filter]="true"
                                    filterBy="name" [showClear]="true"
                                    placeholder="Seleccione un docente para este grupo"></p-dropdown>
                    </span>
        </p-panel>
      </div>
      <div class="my-4">
        <p-panel header="Agregar asignatura*" [collapsed]="true" [toggleable]="true">
                    <span>
                        <p-dropdown [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" [filter]="true"
                                    filterBy="name" [showClear]="true"
                                    placeholder="Seleccione un docente para este grupo"></p-dropdown>
                        <div class="my-4">
                            <span class="p-buttonset">
                                <button pButton pRipple label="Crear asignatura" class="btn btn-custom"></button>
                                <button pButton pRipple class="btn btn-custom"><i class="fa fa-refresh"></i></button>
                            </span>
                        </div>
                    </span>
        </p-panel>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 mb-6">
  </div>
  <div class="col-md-6 mb-6">
    <div class="my-4 a text-end">
      <button class="btn btn-custom">Crear</button>
    </div>
  </div>
</div>

<div class="card my-4">
  <h1 class="text-center">Añadir estudiantes al grupo</h1>
  <div class="col-md-6 mb-6">
    <div class="form-outline p-3">
      <div class="my-4">
        <p-panel header="Agregar grupo*" [collapsed]="true" [toggleable]="true">
                    <span>
                        <p-dropdown [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" [filter]="true"
                                    filterBy="name" [showClear]="true"
                                    placeholder="Seleccione un docente para este grupo"></p-dropdown>
                    </span>
        </p-panel>
      </div>
      <div class="my-4">
        <p-panel header="Agregar estudiantes*" [collapsed]="true" [toggleable]="true">
                    <span>
                        <p-dropdown [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" [filter]="true"
                                    filterBy="name" [showClear]="true"
                                    placeholder="Seleccione un docente para este grupo"></p-dropdown>
                        <div class="my-4">
                            <span class="p-buttonset">
                                <button pButton pRipple label="Crear asignatura" class="btn btn-custom"></button>
                                <button pButton pRipple class="btn btn-custom"><i class="fa fa-refresh"></i></button>
                            </span>
                        </div>
                    </span>
        </p-panel>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-6">

    </div>
    <div class="col-md-6 mb-6">
      <div class="my-4 a text-end">
        <button class="btn btn-custom">Añadir</button>
      </div>
    </div>
  </div>
</div>

