.btn-custom {
    background-color: rgb(112, 182, 32); /* Cambia el color de fondo a tu elección */
    color: #ffffff; /* Cambia el color del texto a tu elección */
  }
.btn-custom:hover{
    background-color: rgb(142, 197, 79); /* Cambia el color de fondo a tu elección */
    color: #ffffff; /* Cambia el color del texto a tu elección */
}