// Estilos para el navbar
nav {
  background-color: #333; // Color de fondo
  padding: 0.5rem; // Espaciado interno
  display: flex;
  justify-content: space-between;
  align-items: center;

  // Estilos para los enlaces
  a {
    color: #fff; // Color del texto
    text-decoration: none; // Quitar subrayado
    margin: 0 1rem; // Margen entre enlaces
    font-weight: bold; // Negrita
    transition: color 0.3s; // Transición de color al pasar el ratón

    &:hover {
      color: #ff5733; // Cambiar color al pasar el ratón
    }
  }

  // Estilos para el logo
  .logo {
    font-size: 1.5rem; // Tamaño de fuente del logo
    color: #fff; // Color del logo
    text-decoration: none; // Quitar subrayado
    font-weight: bold; // Negrita
  }
}
